@font-face {
  font-family: 'edmondsansbold';
  src: url('../fonts/Edmondsans-Bold.eot');
  src: local('☺'), url('../fonts/Edmondsans-Bold.woff') format('woff'), url('../fonts/Edmondsans-Bold.ttf') format('truetype'), url('../fonts/Edmondsans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'edmondsansregular';
  src: url('../fonts/Edmondsans-Regular.eot');
  src: local('☺'), url('../fonts/Edmondsans-Regular.woff') format('woff'), url('../fonts/Edmondsans-Regular.ttf') format('truetype'), url('../fonts/Edmondsans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  text-align: center;
  background: url(../images/bg_cover.jpg) no-repeat top center;
  color: #EEE;
  font-family: 'edmondsansregular', 'sans-serif';
}

.container {
  background: -webkit-linear-gradient(rgba(73, 102, 144, 0), #1E2023 400px, #EEE);
  background: -moz-linear-gradient(rgba(73, 102, 144, 0), #1E2023 400px, #EEE);
  background: -ms-linear-gradient(rgba(73, 102, 144, 0), #1E2023 400px, #EEE);
  background: -o-linear-gradient(rgba(73, 102, 144, 0), #1E2023 400px, #EEE);
  background: linear-gradient(rgba(73, 102, 144, 0), #1E2023 400px, #EEE);
  width: 100%;
}

.cover {
  padding-top: 50px;
  height: 400px;
  position: relative;
}

.cover h1 {
  font-family: 'edmondsansbold', 'sans-serif';
  border: 6px solid #EEE;
  font-size: 54px;
  line-height: 54px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  margin-bottom: -76px;
}

.cover p {
  width: 150px;
  text-align: right;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

.cover .logo {
  position: absolute;
}
.cover .logo.left {
  left: 40px;
  top: 40px;
  width: 110px;
}
.cover .logo.right {
  right: 40px;
  top: 25px;
  width: 80px;
}

.album .image-loader {
  width: 100%;
  max-width: 1300px;
  height: 230px;
  display: inline-block;
  background: url(../images/loader.gif) no-repeat center 100px;
}

.album .image-loader .image {
  background: no-repeat left top;
  background-size: cover;
  width: 100%;
  height: 230px;
  display: none;
}

.album .info {
  text-align: left;
  width: 100%;
  max-width: 1300px;
  display: inline-block;
}

.album .info .place {
  opacity: .5;
  margin-bottom: 10px;
}
.album .info .place.dark {
  color: #1E2023;
}

.album .info .place i {
  margin-left: 5px;
  margin-right: 5px;
}

.album .time b {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: 'edmondsansbold', 'sans-serif';
  border: 4px solid #EEE;
  font-size: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  display: inline-block;
}
.album .time:before,
.album .time:after {
  content: '|';
  font-size: 45px;
  line-height: 45px;
  display: block;
}
.album .time:after {
  margin-bottom: 25px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 80px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #FFEBD6);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0), #FFEBD6);
  background: -ms-linear-gradient(rgba(255, 255, 255, 0), #FFEBD6);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), #FFEBD6);
  background: linear-gradient(rgba(255, 255, 255, 0), #FFEBD6);
  border-bottom: 4px solid #DDD;
}

.social b {
  width: auto;
  margin-bottom: 40px;
  border: 4px solid #DDD;
  padding: 10px 15px 2px 15px;
  display: inline-block;
}
.social:before {
  content: '|';
  font-size: 45px;
  line-height: 45px;
  display: block;
  color: #DDD;
}

.social #fb {
  width: 70px;
  height: 20px;
  margin-right: 10px;
}

.footer .logo.left {
  width: 110px;
  margin-right: 50px;
}
.footer .logo.right {
  width: 80px;
}

@media (min-width: 992px) {
  .container {
    background: -webkit-linear-gradient(rgba(73, 102, 144, 0), #1E2023 500px, #EEE);
    background: -moz-linear-gradient(rgba(73, 102, 144, 0), #1E2023 500px, #EEE);
    background: -ms-linear-gradient(rgba(73, 102, 144, 0), #1E2023 500px, #EEE);
    background: -o-linear-gradient(rgba(73, 102, 144, 0), #1E2023 500px, #EEE);
    background: linear-gradient(rgba(73, 102, 144, 0), #1E2023 500px, #EEE);
    width: 100%;
  }

  .cover {
    padding-top: 100px;
    height: 500px;
  }

  .album .image-loader {
    height: 940px;
    background: url(../images/loader.gif) no-repeat center 200px;
  }

  .album .image-loader .image {
    height: 940px;
  }

  .album .info .place {
    margin-bottom: 0px;
  }
}
